/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.swap-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 2rem 0;
}

.swap-btn i {
    font-size: 1.25rem;
    transition: transform 0.3s ease;
}